<div class="mx-auto flex items-center justify-center h-screen p-10">
  <div class="mx-auto flex flex-col bg-white shadow-lg rounded-lg py-4 px-12">
    <a
      routerLink="/login"
      class="decoration-gray-200 text-gray-500 text-xs mb-4 flex align-middle"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth="{1.5}"
        stroke="currentColor"
        class="w-4 h-4 mr-1"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
        />
      </svg>
      Back to Login
    </a>
    <h1 class="text-3xl font-bold text-center mb-10">SignUp</h1>
    <form [formGroup]="signupForm" (ngSubmit)="signup()" class="text-center">
      <div class="mb-4 mt-4">
        <input
          type="text"
          class="border border-gray-400 rounded-md p-2 w-full"
          placeholder="Name"
          formControlName="name"
        />
      </div>
      <div class="mb-4">
        <input
          type="text"
          class="border border-gray-400 rounded-md p-2 w-full"
          placeholder="Email"
          formControlName="email"
        />
      </div>
      <div class="mb-4">
        <input
          type="password"
          class="border border-gray-400 rounded-md p-2 w-full"
          placeholder="password"
          formControlName="password"
        />
      </div>
      <div class="mb-4">
        <input
          type="password"
          class="border border-gray-400 rounded-md p-2 w-full"
          placeholder="Confirm Password"
          formControlName="confirmpassword"
        />
      </div>
      <div
        *ngIf="
          (signupForm.controls.name.touched &&
            signupForm.controls.name.errors) ||
          (signupForm.controls.email.touched &&
            signupForm.controls.email.errors) ||
          (signupForm.controls.password.touched &&
            signupForm.controls.password.errors) ||
          (signupForm.controls.confirmpassword.touched &&
            signupForm.controls.confirmpassword.errors)
        "
        class="text-red-600 mb-4"
      >
        Enter valid Info...
      </div>
      <input
        type="submit"
        class="bg-red-500 hover:bg-red-400 text-white font-medium py-2 mt-4 px-4 rounded"
        [disabled]="signupForm.invalid"
        value="Submit"
      />
    </form>
  </div>
</div>
