<header class="px-40 py-4 bg-white shadow-md">
  <div class="flex align-middle items-center justify-between">
    <div>
      <button (click)="navigateToHome()">
        <img src="./../../assets/logo.png" alt="logo" class="w-[190px]" />
      </button>
    </div>

    <div class="relative">
      <div class="bg-red-500 rounded-full p-2 w-[28px] absolute top-2 right-2">
        <svg
          viewBox="0 0 32 32"
          xmlns="http://www.w3.org/2000/svg"
          class="block fill-white h-[12px] w-[12px] stroke-white overflow-visible stroke-[5px]"
          aria-hidden="true"
          role="presentation"
          focusable="false"
        >
          <g fill="none">
            <path
              d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9"
            ></path>
          </g>
        </svg>
      </div>
      <input
        type="text"
        placeholder="Search"
        name="search"
        (input)="searchHome($event)"
        class="border border-gray-300 rounded-3xl py-2 px-4"
      />
    </div>

    <div *ngIf="isLoggedIn" class="flex justify-center align-middle">
      <div class="flex align-middle">
        <button (click)="navigateToAddListing()">
          <img
            src="../../assets/plus-round.png"
            alt="plus round"
            class="w-10 mr-4"
          />
        </button>
      </div>
      <div
        (click)="setShowDropdown(!this.showDropdown)"
        class=" cursor-pointer flex justify-between align-middle border border-gray-300 px-4 py-2 rounded-lg"
      >
        <span class="text-lg text-red-600 font-medium mr-2">
          {{ loggedUsername }}
        </span>
        <div class="relative flex align-middle">
          <button (click)="setShowDropdown(!this.showDropdown)">
            <img
              src="https://img.icons8.com/ios-filled/16/null/menu--v1.png"
              alt="menu-icon"
            />
          </button>
          <div
            *ngIf="showDropdown"
            class="flex flex-col absolute top-9  transition-all duration-400 ease-in-out  right-[-14px] justify-between align-bottom self-end w-40 bg-white shadow-md rounded-md px-4 py-4"
          >
            <button
              class="block w-full text-left mb-1 border-b pb-2 border-b-gray-200"
              (click)="navigateToAddListing()"
            >
              Add new Listing
            </button>
            <button
              class="block w-full text-left mb-1"
              (click)="handleLogout()"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!isLoggedIn && this.router.url === '/login'">
      <button
        (click)="navigateToRegister()"
        class="text-white bg-red-500 rounded-lg px-4 py-2"
      >
        Sign Up
      </button>
    </div>
    <div *ngIf="!isLoggedIn && this.router.url !== '/login'">
      <button
        (click)="navigateToLogin()"
        class="text-white bg-red-500 rounded-lg px-4 py-2"
      >
        Login
      </button>
    </div>
  </div>
</header>
