<div class="container m-auto">
  <div class="mt-6">
    <span class="ml-8 font-bold text-2xl flex align">
      {{ data?.name }}
    </span>
    <div class="flex mt-4 align-middle justify-evenly">
      <div class="flex flex-col">
        <img
          [src]="data?.images?.pictureUrl"
          alt="listing"
          class="rounded-lg mt-4"
        />
      </div>
      <div
        class="w-[30vw] relative flex border shadow-lg flex-col px-12 rounded-lg my-6"
      >
        <div class="my-4 flex justify-start align-middle text-center">
          <span class="font-semibold text-2xl"> ${{ data?.price }} CAD </span>
          <span class="text-gray-400 text-2xl ml-3"> night</span>
        </div>
        <div class="flex">
          <span class="flex align-middle font-medium">
            {{ data?.rating?.toFixed(1) }}
          </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="28"
            viewBox="0 0 24 24"
            class="ml-[-8px]"
          >
            <path
              fill="#FFD700"
              d="M12,16.6L7.1,19.8l1.4-5.4L3.4,9.8l5.9-0.5L12,4.5l2.7,5.8l5.9,0.5l-4.1,3.6l1.4,5.4L12,16.6z"
            />
          </svg>
          <span class="text-sm ml-2 text-gray-600 mt-[2px] underline">
            {{ data?.numberOfReviews }} reviews
          </span>
        </div>
        <div class="my-3">
          <span class="text-gray-600 text-xl">
            {{ data?.accommodates }} guests - {{ data?.bedrooms }} bedrooms
          </span>
        </div>

        <div class="my-4 flex flex-col">
          <span class="text-md">
            <span class="text-gray-500"> Location:</span>
            {{ data?.address?.building }}, {{ data?.address?.street }},
            {{ data?.address?.city }}
          </span>

          <span class="text-md">
            <span class="text-gray-500">Country:</span>
            {{ data?.address?.country }}
          </span>
        </div>

        <div class="text-md">
          <span class="text-gray-500">Ameneties:</span>
          <span>
            {{data?.amenities?.[0]}}, {{data?.amenities?.[4]}},
            {{data?.amenities?.[2]}}
          </span>
        </div>

        <div class="text-md mt-4">
          <span class="text-gray-500">Property Type:</span>
          <span class="ml-2">{{ data?.propertyType }}</span>
        </div>

        <div class="flex justify-center align-bottom absolute bottom-0 mt-4">
          <button
            class="px-4 ml-24 py-2 mb-3 rounded-lg bg-red-500 text-white font-semibold"
          >
            Reserve
          </button>
        </div>
      </div>
    </div>
  </div>

  <div
    class="border rounded-lg p-4 mb-4 mt-8 ease-in-out transition-all duration-300 ml-8 mr-12"
  >
    <div
      class="flex items-center justify-between cursor-pointer"
      (click)="handleToggle()"
    >
      <h2 class="font-bold text-lg">Additional info</h2>
      <div
        class="inline-block w-4 h-4 border-b-4 border-gray-400 border-r-4 transform ease-in-out duration-500 transition-all"
        [ngClass]="isOpen ? 'rotate-45' : '-rotate-45'"
      ></div>
    </div>
    <div *ngIf="isOpen" class="mt-4 ease-in-out duration-500 transition-all">
      <div class="ml-4 mt-8 justify-between">
        <div>
          <span class="text-lg font-semibold">
            {{ data?.propertyType }} hosted by {{ data?.hostInfo?.name }}
          </span>
          <div class="mt-4 flex-col flex max-w-2xl">
            <span class="text-md">
              {{ data?.description }}
            </span>
          </div>
        </div>

        <div class="mt-4 max-w-2xl">
          <span class="text-md font-semibold">Rules: </span>
          <span>{{ data?.rules }}</span>
        </div>

        <div class="flex justify-start max-w-2xl mt-4">
          <div class="flex my-4 justify-start align-middle">
            <img
              alt="bathroom-logo "
              class="w-[29px] mr-2"
              src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/null/external-hot-tub-cleaning-kiranshastry-lineal-kiranshastry.png"
            />
            <span>Bathrooms: {{ data?.bathrooms }}</span>
          </div>

          <div class="flex my-4 mx-8 justify-start align-middle">
            <img
              class="w-[29px] mr-2"
              src="https://img.icons8.com/ios/100/null/sleeping-in-bed.png"
              alt="bed-logo"
            />
            <span>Beds: {{ data?.beds }}</span>
          </div>
        </div>

        <div class="my-4 max-w-lg">
          <span class="font-semibold">Ameneties:</span>
          <ul class="columns-2">
            <li *ngFor="let item of data?.amenities">{{ item }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
